/****************
 * Applications *
 ****************/
ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
    background-color: @chrome_bg_color;
    -EogScrollView-shadow-type: none;
}

/* nautilus */
.nautilus-canvas-item {
    border-radius: 5;
}

.nautilus-desktop.nautilus-canvas-item {
    color: @theme_bg_color;
    text-shadow: 1 1 black;
}

.nautilus-desktop.nautilus-canvas-item:active {
    color: @theme_text_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
    color: @theme_selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}

NautilusWindow .primary-toolbar.toolbar {
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (shade (@theme_bg_color, 1.00)),
			         to (shade (@theme_bg_color, 1.10)));

    border-width: 1 0 1 0;
    border-radius: 0;
    border-style: solid;
    border-color: shade (@theme_bg_color, 0.70) @transparent shade(@theme_bg_color, 0.80) shade(@theme_bg_color, 1.20);

	-unico-inner-stroke-color:  shade(@theme_bg_color, 1.10); 
	-unico-inner-stroke-width: 0;

	padding: 0 2; 
	
    -GtkWidget-window-dragging: true;
    -GtkToolbar-button-relief: normal;
}

#nautilus-search-button *:prelight,
#nautilus-search-button *:active,
#nautilus-search-button *:active:prelight,
NautilusWindow .primary-toolbar .toolbar .button *:active,
NautilusWindow .primary-toolbar.toolbar .button *:active,
NautilusWindow .primary-toolbar .toolbar .button *:hover,
NautilusWindow .primary-toolbar.toolbar .button *:hover,
NautilusWindow .primary-toolbar .toolbar .button *:hover:active,
NautilusWindow .primary-toolbar.toolbar .button *:hover:active {
	/* Quitar sombra del texto	*/
    color: @text_color;
    text-shadow: none; 
}

NautilusWindow .primary-toolbar .toolbar .button,
NautilusWindow .primary-toolbar.toolbar .button {
	padding: 0;
	color: @theme_fg_color;
    text-shadow: none; 
}

#nautilus-search-button .button:active,
#nautilus-search-button .button:active:prelight,
NautilusWindow .primary-toolbar .toolbar .button:active,
NautilusWindow .primary-toolbar.toolbar .button:active, 
NautilusWindow .primary-toolbar .toolbar .button:hover:active,
NautilusWindow .primary-toolbar.toolbar .button:hover:active {  
    border-style: solid; 
    border-width: 0 1;
    border-radius: 2;

    -unico-border-gradient: -gtk-gradient (linear,
				             left top, left bottom,
				             from (shade (@toolbar_gradient_base, 1.30)),
			                 color-stop (0.50, shade (@toolbar_gradient_base, 0.90) ),
				             to   (shade (@toolbar_gradient_base, 1.20)));

    
	-unico-inner-stroke-gradient: -gtk-gradient (linear,
				             left top, left bottom,
				             from (alpha (shade (@toolbar_gradient_base, 1.25), 0.00)),
			                 color-stop (0.50, shade (@toolbar_gradient_base, 1.15) ),
				             to   (alpha (shade (@toolbar_gradient_base, 1.25), 0.00)));

    background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (alpha (shade (@toolbar_gradient_base, 1.35), 0.0)),
			         color-stop (0.50, shade (@toolbar_gradient_base, 1.25) ),
				     to   (alpha (shade (@toolbar_gradient_base, 1.25), 0.0)));
    color: @theme_fg_color;
}

#nautilus-search-button .button:prelight,
NautilusWindow .primary-toolbar .toolbar .button:hover,
NautilusWindow .primary-toolbar.toolbar .button:hover {
    border-style: solid; 
    border-width: 0 1;
    border-radius: 2;

    -unico-border-gradient: -gtk-gradient (linear,
				             left top, left bottom,
				             from (shade (@toolbar_gradient_base, 1.35)),
			                 color-stop (0.50, shade (@toolbar_gradient_base, 0.95) ),
				             to   (shade (@toolbar_gradient_base, 1.25)));

    background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (alpha (shade (@toolbar_gradient_base, 1.40), 0.0)),
			         color-stop (0.50, shade (@toolbar_gradient_base, 1.30) ),
				     to   (alpha (shade (@toolbar_gradient_base, 1.30), 0.0)));
    color: @theme_fg_color;
}

NautilusWindow .menubar {
    /* linea 3D  (oscura) */
	-unico-inner-stroke-color: shade (@theme_bg_color, 0.68);

    /* linea 3D (clara)  */
    border-color: shade (@theme_bg_color, 0.98); 

    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@theme_bg_color, 0.90)),
                                     to (shade (@theme_bg_color, 0.80)));

    color: shade(@theme_text_color, 1.70); 
	text-shadow: 0 1 alpha(@theme_base_color, 0.35);
}

#nautilus-search-button * {
	-unico-border-gradient: none;    
    border-image: none;
    border-style: solid;
	border-width: 0px 1px;
	border-color: @transparent;
    border-radius: 2;
    box-shadow: none;
    background-image: none;
    padding: 0 8;	
}

NautilusFloatingBar {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@notebook_tab_gradient_a, 0.97)),
                                     to (shade (@notebook_tab_gradient_b, 0.90)));

    border-color: shade (@notebook_tab_gradient_b, 0.80);

    border-radius: 3 3 0 0;
    border-width: 1;
    border-style: solid;
}

NautilusFloatingBar .button {
    background-color: alpha (@theme_base_color, 0.0);
    background-image: none;

    border-style: none;
    border-image: none;

    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;
}

NautilusWindow .sidebar .scrollbar {
	-GtkRange-trough-border:    1;
    -GtkRange-slider-width:     6;
}

NautilusWindow .sidebar .scrollbar.trough,
NautilusWindow .sidebar .scrollbar.trough.vertical {
    background-image: none;
    background-color: @sidebar_background;
	-unico-inner-stroke-width:          0;
}

NautilusWindow .sidebar .frame {
    border-width: 1px 0px 0px 0px;
    border-radius: 0;
    border-style: solid;
    border-color: shade (@theme_bg_color, 0.70) @transparent @transparent @transparent;
}

NautilusWindow .pane-separator, /* ubuntu-12 */
NautilusWindow > GtkTable > .pane-separator { 
    border-width: 1px 0px 0px 0px;
    border-radius: 0;
    border-style: solid;
    border-color: shade (@theme_bg_color, 0.70) @transparent @transparent @transparent;
	-unico-border-gradient: none;

    background-image: -gtk-gradient(linear,
                                    left top, right top,
                                    from(@sidebar_background),
                                    color-stop(0.70, @sidebar_background),
                                    to(shade (@button_border, 0.72)));
}

