@define-color manokwari_bg_color #1c1c1c;
@define-color manokwari_fg_color #fcfcfc;
@define-color window_desc_bg_color #bbbbbb;
@define-color window_desc_fg_color #333333;
@define-color window_desc_bg_minimized_color #a0a0a0;
@define-color window_desc_fg_minimized_color #010101;
@define-color window_desc_bg_hover_color #a0a0a0;
@define-color window_desc_fg_hover_color #010101;

@define-color clock_fg_color #ccccccc; 


PanelWindowHost
{
    color: @manokwari_fg_color;
    background-color: @manokwari_bg_color; 
}

PanelMenuBox {
    color: @manokwari_fg_color;
    background-color: @manokwari_bg_color; 
}

PanelTray {
    background-color: @manokwari_bg_color; 
}

GtkMenu {
    color: @manokwari_fg_color;
    background-color: @manokwari_bg_color; 
}

GtkMenuItem:hover {
    color: #7f7f7f;
    background-color: #bfbfbf;
}


PanelMenuContent > GtkSeparator {
    background-color: #000000;
}

PanelItem {
    color: #aaaaaa;
    font: Sans;
}

PanelItem:prelight {
    color: #202020;
    background-color: #ededed; 
}

PanelWindowPager,
PanelWindowEntry {
    background-color: #202020;
    color: #808080; 
}

PanelWindowEntry:selected {
    background-color: #202020; 
    color: #ededed;
}

PanelWindowEntry:active {
    background-color: #dedede; 
    color: #1a1a1a; 
}

PanelWindowEntry:prelight {
    background-color: #dedede; 
    color: #ededed; 
}

PanelWindowEntry:insensitive {
    background-color: #202020; 
    color: #ededed;
}

GtkWindow {
    background-color: @manokwari_bg_color;
 }

PanelClock {
    font: Sans;
    color: @clock_fg_color;
/*    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    border-color: #000000;
    border-style: solid;
    border-width: 25;
    border-radius: 10;*/
}
