@define-color panel_bg_color #000;
@define-color panel_fg_color #ddd;
@define-color clock_bg_color @panel_bg_color;
@define-color clock_fg_color @panel_fg_color; 

PanelWindowHost {
	background-image:linear-gradient(rgba(0,0,0,1));
	color: @panel_fg_color;
	opacity: 0.9;
}
PanelWindowPagerEntry {
	background: transparent;
	color: @panel_fg_color;
	opacity: 1;
}
PanelWindowEntryDescriptions {
	background-image:linear-gradient(rgba(0,0,0,1));
	background-color: black;
	color: @panel_fg_color;
	font-family: Sans;
	font-weight: bold;
	font-size: 8px;
	border: 10px solid #000;
}

PanelTray * {
	background-color: @panel_bg_color;
	color: @panel_fg_color;
	opacity: 0.9;
}

PanelClock {
	background: @clock_bg_color;
	color: @clock_fg_color;
	text-shadow: 0 1px 1px #000;
	font-family: Sans;
	font-weight:bold;
	font-size: 10px;
}

PanelWindowEntry,
PanelWindowEntry:selected,
PanelWindowEntry:insensitive {
	background-color: transparent; 
	color: transparent;
	opacity: 1;
}

PanelWindowEntry:active {
	background-image: linear-gradient(#fff, #e0e0e0, #fff);
	color: @panel_fg_color;
	opacity: 1;
}

PanelWindowEntry:hover {
	background-image: linear-gradient(#fff, #eee, #eee, #fff);
	color: @panel_fg_color;
	opacity: 1;
}

PanelWindowPager {
	background-color: @theme_bg_color;
	color: @theme_fg_color;
}

PanelCalendar {
	background: @theme_bg_color;
	color: @theme_fg_color;
}

* {
	color: @theme_fg_color;
}

