/*****************
 * Notebooks and *
 * tabs          *
 *****************/

.notebook {
    padding: 0;

    border-color: @notebook_border;
    border-width: 1px;
    border-style: solid;
	border-radius: 4;
    -unico-border-gradient: -gtk-gradient (linear,
                                             left top, left bottom,
                                             from (shade(@notebook_border, 1.10)),
                                             to (shade(@notebook_border, 1.25)));

	background-color: shade(@theme_bg_color, 0.97);

    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_bg_color, 0.89)),
                                     color-stop (0.015, shade(@theme_bg_color, 0.97)),
                                     to (shade(@theme_bg_color, 0.97)));

    -GtkNotebook-tab-overlap: 4;
    -GtkNotebook-tab-curvature: 6;

    -unico-focus-border-color: alpha (@selected_bg_color, 0.0);
    -unico-focus-border-radius: 3;
    -unico-focus-fill-color: alpha (@selected_bg_color, 0.0);
    -unico-focus-outer-stroke-color: @transparent;
}

.notebook GtkDrawingArea {
	background-color: shade (@theme_bg_color, 0.97);
}

.notebook tab {
    padding: 1 4 0;
	border-radius: 3;

    -unico-border-gradient: -gtk-gradient (linear,
                                             left top, left bottom,
                                             from (shade(@notebook_border, 1.10)),
                                             to (shade(@notebook_border, 1.10)));

    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (rgb(255,255,255)),
                                     color-stop (0.25, rgb(255,255,255)),
                                     color-stop (0.50, rgb(243,243,243)),
                                     color-stop (0.50, rgb(236,236,236)),
                                     to (rgb(242,242,242)));
}

.notebook tab:active {
 
	border-width: 1px;

	-unico-border-gradient: -gtk-gradient (linear,
                                             left top, left bottom,
                                             from (alpha(@notebook_border, 0.00)),
											 color-stop (0.02, alpha(@notebook_border, 0.00)),
											 color-stop (0.02, shade(@notebook_border, 0.75)),
                                             to (shade(@notebook_border, 0.80)));

    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@theme_bg_color, 0.68)),
									 color-stop (0.04, shade(@theme_bg_color, 0.52)),
									 color-stop (0.15, shade(@theme_bg_color, 0.60)),
									 color-stop (0.97, shade(@theme_bg_color, 0.77)),
									 color-stop (0.97, shade(@notebook_border, 0.80)),
                                     to (shade(@notebook_border, 0.80)));

	-unico-inner-stroke-width: 1 1 0 1;
    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                    				left top, left bottom,
                    				from (alpha (#000, 0.05)),
									color-stop (0.02, alpha(#000, 0.20)),
									color-stop (0.02, alpha(#000, 0.10)),
                    				to (alpha (#000, 0.08)));
}

.notebook tab *:active,
.notebook tab GtkLabel:active {
	color: #ffffff;
	text-shadow: -1 1 shade(@theme_bg_color, 0.52);
}

.notebook tab GtkLabel {
	color: @theme_text_color; 
	text-shadow: none;
}


.notebook .button:active,
.notebook .button:active:hover {
	
}

