/*****************
 * tabs themed   *
 *****************/
@define-color theme_tab_bg_color #E9E9E9;

.notebook tab {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_tab_bg_color, 1.0)),
                                     color-stop (0.40, shade(@theme_tab_bg_color, 1.0)),
                                     color-stop (0.60, shade(@theme_tab_bg_color, 0.95)),
                                     to (shade(@theme_tab_bg_color, 1.00)));

    border-width: 1px;
    border-style: solid; 
	border-radius: 0px;
	border-color: #BFBFBF;

    border-top-color: 	#BFBFBF;
    border-left-color: 	#BFBFBF;
    border-right-color: #BFBFBF;

	border-image: none;

    box-shadow: inset  0px  1px alpha(#eee, 0.1),
                inset  1px  0px alpha(#eee, 0.1),
                inset -1px  0px alpha(#eee, 0.1),
                inset  0px -1px alpha(#000, 0.1); 
}

.notebook tab:active {
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@theme_tab_bg_color, 0.70)),
                                     color-stop (0.47, shade (@theme_tab_bg_color, 0.85)),
                                     color-stop (0.53, shade (@theme_tab_bg_color, 0.90)),
                                     to (shade (@theme_tab_bg_color, 1.10)));

	border-color: #BFBFBF;

    border-top-color: 	#BFBFBF;
    border-left-color: 	#BFBFBF;
    border-right-color: #BFBFBF;

	border-image: none;
/*
    box-shadow: inset  0px  3px alpha(#000, 0.03),
				inset  0px  2px alpha(#000, 0.03),
				inset  0px  1px alpha(#000, 0.03),
                inset  2px  0px alpha(#000, 0.03),
                inset  1px  0px alpha(#000, 0.05),
                inset -2px  0px alpha(#000, 0.03),
                inset -1px  0px alpha(#000, 0.05);
*/

    box-shadow: inset  0px  3px alpha(#000, 0.03),
				inset  0px  2px alpha(#000, 0.03),
				inset  0px  1px alpha(#000, 0.03),
                inset  2px  0px alpha(#000, 0.02),
                inset  1px  0px alpha(#000, 0.03),
                inset -2px  0px alpha(#000, 0.02),
                inset -1px  0px alpha(#000, 0.03),
                inset  0px -1px alpha(#000, 0.20);	
}

.notebook tab,
.notebook tab GtkLabel {
	color: @text_color;
	/*text-shadow: 0px 1px @theme_selected_shadow_color;*/
}


